{% extends "base.html" %}

{% block content %}

    <!-- 导航栏 -->
    <nav class="navbar navbar-inverse navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/index/">软件测试部门结果分析系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/index/">报告列表</a></li>
            <li><a href="/analysis/columnar_analysic/">图标分析</a></li>
            <li class="active"><a href="/database/connection/">数据库连接工具</a> </li>
            <li><a href="/monkeytest/">monkey工具</a> </li>
          </ul>


          <ul class="nav navbar-nav navbar-right">
           <li><a href="#">{{user}}</a></li>
           <li><a href="http://v3.bootcss.com/examples/dashboard/#">Settings</a></li>
            <li><a href="http://v3.bootcss.com/examples/dashboard/#">Profile</a></li>
            <li><a href="http://v3.bootcss.com/examples/dashboard/#">Help</a></li>
            <li><a href="/logout/">退出</a></li>
           </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% block container%}
      <div class="page-header">
        <div id="navbar" class="navbar-collapse collapse">
          <form  id="navbar-form" class="navbar-form" >

{#              method="get" action="/database/connection/"#}
            <div class="form-group">
              <input id="name" name="name" type="text" placeholder="连接用户名" class="form-control">
              <input id="IP_Address" name="IP_Address" type="text" placeholder="主机名或IP地址" class="form-control">
              <input id="Port" name="Port" type="text" placeholder="端口号" class="form-control">
              <input id="username" name="username" type="text" placeholder="用户名" class="form-control">
              <input id="password" name="password" type="text" placeholder="密码" class="form-control">
            </div>
            <button type="submit" class="btn btn-success" onClick="connection()">连接测试</button>
{#              onClick="connection()"#}
           <button type="button" class="btn label-primary" onClick="newcreate()">新增</button>
          </form>
        </div><!--/.navbar-collapse -->
          {% block row %}
      {{ row_1 }}
              {% endblock %}
      </div>


<div class="row">
    <form action="" method="get">
    <br /><br />
    <label><input name="Fruit" type="radio" value="" />脚本模式 </label>
    <label><input name="Fruit" type="radio" value="" />傻瓜模式 </label>
    </form>
</div>

     <div class="col-lg-6">
     <form  method="get" action="/database/operation/">
        <div class="input-group">

          <input type="text" name='conditions' id='conditions' class="form-control">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" type="button">执行</button>
          </span>
        <!-- /input-group -->
       </div>
     </form>


      </div><!-- /.col-lg-6 -->

        {% block operation_result %}


        {% endblock %}

<script language="JavaScript">
function connection() {
    var name = $("#name").val()
    var IP_Address = $("#IP_Address").val()
    var Port = $("#Port").val()
    var username = $("#username").val()
    var password = $("#password").val()


    if (!Port & !username) {
        alert("接口链接为空，请填写后再请求！");
        return
    }
    var str_data = $("#navbar-form input").map(function () {
        return ($(this).attr("name") + '=' + $(this).val());
    }).get().join("&");

    alert(name);
    alert(IP_Address);
    alert(Port);
    alert(username);
    alert(str_data);
    var tmp = '/database/connection?' + str_data;
    $.ajax({
        url: tmp,  //'提交的URL',
        type: "GET",        ////提交的方式
        error: erryFunction,  //错误执行方法
        success:succFunction
    });
    return  true;
    function erryFunction() {
             alert("error");
            }
    function succFunction() {
                alert('pass');
    }

}
function newcreate() {
    var name = $("#name").val()
    var IP_Address = $("#IP_Address").val()
    var Port = $("#Port").val()
    var username = $("#username").val()
    var password = $("#password").val()
    if (!Port & !username) {
        alert("接口链接为空，请填写后再请求！");
        return
    }
    var str_data = $("#navbar-form input").map(function () {
        return ($(this).attr("name") + '=' + $(this).val());
    }).get().join("&");

    alert(name);
    alert(IP_Address);
    alert(Port);
    alert(username);
    alert(str_data);

    var tmp = '/database/createdata?' + str_data;
    $.ajax({
        url: tmp,  //'提交的URL',
        type: "GET",        ////提交的方式
        error: erryFunction,  //错误执行方法
        success:succFunction
    });
    return  true;
    function erryFunction() {
             alert("error");
            }
    function succFunction() {
                alert('pass');
    }
    
}
 </script>
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/js/json2.js"></script>
    <script src="/static/js/jquery.zclip.min.js"></script>
    <script src="/static/js/JSONFormatter.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jquery.cookie.min.js"></script>
    <script src="/static/js/jquery.dialogbox.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/adsbygoogle.js"></script>
{% endblock %}
{% endblock %}
